

    <h1>Landing PAGE</h1>


    <a href='/login'><input type="submit" class="btn btn-primary" value="Login"></input></a>
    <a href='/signup'><input type="submit" class="btn btn-primary" value="Register"></input></a>





