<%- include('partials/header') %>

<body>

    <form method="POST" action="/login">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <input type="submit" class="btn btn-primary" value="Save"></input>
        Don't have an account. <a href='signup.ejs'>Register</a>
      </form>

    <%- include('partials/jsbody') %>
</body>


<%- include('partials/footer') %>