
    <form method="post" action="/profile">
      <h1>Profile</h1>
      
      <div class="formcontainer">
      <div class="container">
        <label for="fname"><strong>First Name</strong></label>
        <input type="text" placeholder="Enter First Name" name="fname" required>
        <label for="lname"><strong>Last Name</strong></label>
        <input type="text" placeholder="Enter Last Name" name="lname" required>
        <label for="email"><strong>Email</strong></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <label for="country"><strong>Country</strong></label>
        <input type="text" placeholder="Enter Country" name="country" >
        <label for="occup"><strong>Occupation</strong></label>
        <input type="text" placeholder="Enter Occupation" name="occup" >
      </div>
      <button type="submit"><strong>SUBMIT</strong></button>
      </div>
    </form>