<%- include('partials/header') %>

<body>
    <form method="POST" action="/signup">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <input button type="submit" class="btn btn-primary" value="Save"></input>
        Already have an account. <a href='login.ejs'>Login</a>
      </form>

      <%- include('partials/jsbody') %>
</body>

<%- include('partials/footer') %>