<form method="post" action="/signup">
      <h1>REGISTER</h1>
      <div class="icon">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="formcontainer">
      <div class="container">
        <label for="username"><strong>Username</strong></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="password" required>
      </div>
      <button type="submit"><strong>SUBMIT</strong></button>
      <div class="container-signup">
         <span class="login-link"><a href="/login">Already have an account</a></span>
      </div>
    </form>  
